*.pyc
*.pyo
*.pyd
__pycache__/
*.swp
env/
venv/
ENV/
VENV/

*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3

media/
staticfiles/

.idea/
.vscode/

*.py[cod]
*.pyd
*.so

.Python
build/
develop-eggs/
dist/
eggs/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

.env
*.env

.DS_Store
